<mat-toolbar color="primary">
  <span>Hickathon</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened
    ><h4>Ana Lorenzo</h4>
    <p>ana@correo.com</p>
    <mat-divider></mat-divider>
    <button mat-raised-button class="menu-button w-100"><a href="">Crear Solicitud</a></button>
    <button mat-raised-button class="menu-button w-100"><a href="">Ver Solicitudes</a></button>
    <button mat-raised-button class="menu-button w-100"><a href="">Salir</a></button>



  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8 h">Main Content</div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>
</form> -->
